

#home-section{
    background-image: url("http://eskipaper.com/images/snow-mountain-8.jpg");
    color:white;
    padding: 90px;
}
.btn-home{
    margin-top:30px;
    width: 150px;
    height:auto;
}
li:hover { background-color:#96C44F; 
}

/* klase za margine i padding:*/
.navbar{
    margin-bottom:-20px;
}
.margin-left-500px{
    margin-left:500px;
}
.margin-left-150px{
    margin-left:150px;
}
.margin-bottom-50px{
    margin-bottom:50px;
}
.meet-the-team-margin{
    margin-top:30px;
    margin-bottom: 50px;
}
.well{
    margin-bottom:-20px;
    }
.btn-padding{
    padding-right:10px;
}
.btn-padding-new{
    padding-right:20px;
}
.margin-top{
    margin-top:50px;
}
.contact-padding{
    padding-bottom: -10px;
}
.margin-right-20px{
    margin-right: -20px;
}
form{
    padding-top:25px;
}
.padding-left-90px{
    padding-left: 90px;
}
/*kraj klasa za margine i padding*/
.text-about{
    color:#96C44F;
}
.img-size{
    width:100%;
    height:50%;
    margin-top:20px;
}
#pricing-section{
    background-image: url("http://media.gettyimages.com/videos/businessman-steps-into-a-spotlight-in-a-dark-room-video-id570505749?s=640x640");
    color:white;
    padding: 30px;  
}
.label-text{
    opacity: 0.01;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    font-size: 12px;
    font-style: italic;
    
}
.label-border{
    border: 1px solid white;
    opacity:1;

}
.btn-success{
    width:150px;
    height:auto;
}


#contact-section{
    background-image: url("http://www.wall321.com/thumbnails/detail/20130414/wood%20textures%201600x900%20wallpaper_www.wall321.com_45.jpg");
    color: white;
}

.contact-green-button-one{
    color: limegreen;
    margin-top:30px;
    margin-bottom: 50px;
}
.contact-green-button{
    color: limegreen;    
    padding-top:10px;
    padding-right:10px;
}
.justify-text{
    text-align: justify;
    padding-right: 10px;
}
.text-size-contact{
    font-size: 80%;
    }

.span-border{
    border-bottom: 1px solid black;
}
.progress-bar {  
  height: 50%;
  font-size: 10px;
  line-height: 10px; 
}
.progress-bar-success{    
    background-color: #5cb85c;
}
.text-success{
        color:#5cb85c;
}
.navbar-default{
    background-color: rgb(255, 255,250);
}
.pull-right{
    margin-right: 15px;
}
 